<%= simple_form_for(@facility, multipart: true) do |f| %>
  <%= f.error_notification %>
  <%= f.simple_fields_for :facilities_users do |fu| %>
  	<%= fu.input :user_id, input_html: { value: current_user.id }, :as => :hidden %>
  <% end %>
  <%= f.input :name %>
  <%= f.input :facility_type_id, collection: FacilityType.all %>
  <div class="form-group check_boxes optional facility_interests">
    <%= f.simple_fields_for :pictures do |p| %>
      <%= p.label :image %>
      <%= p.file_field :image %>
    <% end %>
  </div>

  <%= f.input :facility_expertise_id, collection: FacilityExpertise.all %>
  <%= f.input :spa %>
  <%= f.input :acreage %>
  <%= f.input :endangered_acreage %>
  <%= f.input :temperture_controled %>
  <%= f.input :water_features %>
  <%= f.input :supplemental_feed %>
  <%= f.button :submit %>
<% end %>
