<p id="notice"><%= notice %></p>

<%= chart(:Map, [['Lat', 'Long', 'Name']]+Facility.all.map{ |e| [e.latitude, e.longitude, e.name] }, map_chart_styles) if Facility.any? %>

<h1>Facilities</h1>
<%= link_to 'Add New Facility', new_facility_path, class: 'btn btn-primary' %>
<br /><br />
<div class="row">
  
    <% @facilities.each do |facility| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail"> 
        <%= image_tag facility.pictures.first.image.url(:portfolio_large), class: "img-responsive" if facility.pictures.first.present? %>
        <div class="caption">
          <h3><%= facility.name %></h3>
          <p>This facility has <%= facility.animals.count %> animals.</p>

            <%= link_to 'Show', facility, class: 'btn btn-primary' %>
            <% if current_user.site_admin? %>
            <%= link_to 'Edit', edit_facility_path(facility), class: 'btn btn-default' %>
            <%= link_to 'Delete', facility, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
            <% end %>
        </div>
      </div>
      </div>
    <% end %>
  
</div>


<br>


