<p id="notice"><%= notice %></p>

<%= chart(:Map, [['Lat', 'Long', 'Name']]+Facility.all.map{ |e| [e.latitude, e.longitude, e.name] }, map_chart_styles) if Facility.any? %>

<h1>Listing Facilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= link_to 'Show', facility %></td>

        <% if current_user.site_admin? %>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path %>
