<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<% if @facility.pictures.any? %>
  <%= image_tag @facility.pictures.first.image.url(:large) %>
<% end %>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>

<h2>Animals</h2>
<%= link_to 'Add Animal', new_animal_path(facility_id: @facility.id) %>
<%= render @facility.animals %>

<%= chart(:PieChart, @facilityGenderPercent) %>

<%= chart(:GeoChart, [['State', 'Animals'],['US-IL', 2], ['US-IN', 5],['US-IA', 1],['US-TX', 2], ['US-CA', 7],['US-VA', 6]], region: "US", resolution: "provinces") %>

<%= chart(:Histogram, [['Animal', 'Age']]+Array.new(20){|i| ["Animal #{i}", rand(0..40)] }, title: "Age distribution") %>


