<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>

<h2>Animals</h2>
<%= link_to 'Add Animal', new_animal_path(facility_id: @facility.id) %>
<%= render @facility.animals %>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Gender', 'total'],
          ['Male', 11],
          ['Female', 2]
        ]);

        var options = {
          title: 'Total Gender Percents'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  
 
    <div id="piechart" style="width: 900px; height: 500px;"></div>

</html>