<h2><%= @page_title %></h2>
<h5>The following setting types are available. Changes made to settings are reflected globally.</h5>
<ul>
  <li><%= link_to 'Species', settings_species_index_path %></li>
  <li><%= link_to 'Facility Types', settings_facility_types_path %></li>
  <li><%= link_to 'Facility Expertises', settings_facility_expertises_path %></li>
  <li><%= link_to 'Rearings', settings_rearings_path %></li>
  <li><%= link_to 'Reproductive Statuses', settings_reproductive_statuses_path %></li>
  <li><%= link_to 'Sexes', settings_sexes_path %></li>
  
</ul>

