<div class="animal col-md-4">
  <%= link_to facility_animal_path(animal.facility, animal) do %>
    <% if animal.pictures.first.present? %>
      <%= image_tag animal.pictures.first.image.url(:large), class: "img-responsive" %>
    <% end %>
  <% end %>
  <h3><%= link_to animal.name, facility_animal_path(animal.facility, animal) %></h3>
  <p>Species: <%= animal.species.name %></p>
  <p>Studbook: <%= animal.studbook %></p>
  <p>Facility: <%= animal.facility.name %></p>
  <p>Birth Year: <%= animal.date_of_birth %></p>
</div>
