<div class="col-md-4">
  <%= link_to animal_path(animal) do %>
    <% if animal.pictures.first.present? %>
      <%= image_tag animal.pictures.first.image.url(:large), class: "img-responsive" %>
    <% end %>
  <% end %>
  <h3><%= link_to animal.name, animal_path(animal) %></h3>
  <p><%= animal.species.name %></p>
  <p>Studbook <%= animal.studbook %></p>
  <p>Tag <%= animal.tag %></p>
  <p>Facility <%= animal.facility.name %></p>
</div>
