<p id="notice"><%= notice %></p>

<h1><%= @animal.name %></h1>
<h1><%= @animal.facility.name %></h1>
<%= image_tag @animal.pictures.first.image.url(:large) %>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
