<p id="notice"><%= notice %></p>

<h1><%= @animal.facility.name %></h1>
<h2><%= @animal.name %></h2>
<h3>Date of Birth: <%= @animal.date_of_birth %></h3>
<h3>Studbook: <%= @animal.studbook %></h3>
<h3>Sire: <%= @animal.sire %></h3>
<h3>Dam: <%= @animal.dam %></h3>
<h3>Tag: <%= @animal.tag %></h3>
<h3>Comments: <%= @animal.comments %></h3>
<h3>Searchable: <%= @animal.searchable %></h3>

<% if current_user.site_admin? || FacilityUser.find_by(user_id: current_user.id).facility_id === @animal.facility_id%>
  <%= link_to 'Edit', edit_animal_path(@animal) %> |
<% end %>
<!-- # <%= link_to 'Edit', edit_animal_path(@animal) %> | -->
<%= link_to 'Back', animals_path %>
<br/>

<% @animal.pictures.each do |p| %>
  <%= image_tag p.image.url(:large) %>
  <br/>
<% end %>
