<%= simple_form_for(@animal_match, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :animal %>
    <%= f.association :potential_mate %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
