<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ScimitarOryx</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="//www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="//www.google.com/jsapi"></script>

</head>
<body data-no-turbolink="true">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<div id="main-container" class="container">
  <div class="row header-row">
    <div class="col-xs-4">
      <a href="<%= root_path %>"><%= image_tag 'spa_logo_horizontal_pms.jpg', alt: "Source Population Alliance", class: 'main-logo' %></a>
    </div>
    <div class="col-xs-8">
      <ul class="nav nav-pills pull-bottom-right">
        <li class="nav-item">
          <%= link_to 'Facilities', facilities_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'nav-link' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li>
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= yield %>
</div>


</body>
</html>
